.chessArea {
  height: 640px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .WhiteDeadStack,
  .blackDeadStack {
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .deadPeace {
      width: 100%;
      height: 40px;
      img {
        height: 80%;
      }
    }
  }
  .Board {
    width: 640px;
    height: 640px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    .cell {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &.black {
        background-color: #00000069;
      }
      &.white {
        background-color: white;
      }
      img {
        width: 57%;
      }
      &.possibleMove::before {
        content: "";
        border: 5px solid rgba(0, 128, 0, 0.53);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
